.swiper-container{
  height: 500px;
}
.swiper-slide{
  background-color: white;
  color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.swiper-button-prev{
  color: green;
}
.swiper-button-next{
  color: green;
}
.swiper-scrollbar {
  background-color:#1b5e20;
}

@media(max-width: 500px) {
  .swiper-container{
    max-height: 100%;
  }
  .swiper-slide{
    font-size: 30px;
  }
  #slider3{
    font-size: 40;
    line-height: 6rem;
  }
}
@media(min-width: 500px) and (max-width:1024px) {
  .swiper-container{
    height: 500px;
  }
  .swiper-slide{
    font-size: 30px;
  }
  #slider3{
    font-size: 40;
    line-height: 6rem;
  }
}